.App {
  text-align: center;
}

.App-header {
  background-color: #61dafb;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #283034;
}

.cardsContainer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.cardDay{
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;


}

button {
  font-size: calc(10px + 1vmin);
  background-color: #283034;
  color: white;
  border-radius: 5px;
  padding: 5px 20px;
  border: 1 solid #283034;
  margin-top: 10px;
  margin-right: 5px;
}

input {
  font-size: calc(10px + 1vmin);
  margin: 5px;
  padding: 5px 20px;
}
